<div class="well">
    <h4>The Universe is the totality of everything that exists, has existed, or ever will exist.</h4>
    <p>This Q&amp;A site is dedicated to questions about the history of the Universe</p>
</div>

<div class="container">
    <div class="boxes"></div>
    <% @questions.each do |q| %>
        <div class="media" data-target="<%=question_path(q) %>">
            <div class="media-left">
                <a href="#">
            <img class="media-object" src="<%=q.gravatar%>">
          </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    <%=q.email%> asked:</h4>
                <div class="time">
                    <%=time_ago_in_words q.created_at%>
                </div>
                <div>
                    <%= truncate q.body, length: 300 %>
                </div>
                <div>
                    <a href="<%=question_path(q) %>" class="btn btn-success btn-xs">View Answers</a>
                </div>
            </div>

        </div>
        <% end %>
</div>

</div>